@use "../utils/" as u;

.footer {
  @include u.mobile {
    padding-inline: 0;
  }

  &__inner {
    padding: 55px 60px 50px;
    color: var(--common-light);
    background-color: var(--common-dark);

    @include u.mobile-above {
      border-top-left-radius: var(--border-radius-large);
      border-top-right-radius: var(--border-radius-large);
    }

    @include u.mobile {
      padding: 52px var(--container-padding-x) 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 37px;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;

    &:not(:last-child) {
      margin-bottom: 66px;
    }

    @include u.tablet {
      row-gap: 40px;
      flex-direction: column;
      align-items: center;
    }

    @include u.mobile {
      display: contents;
    }
  }

  &__menu {
    &-list {
      display: flex;
      align-items: center;
      column-gap: 40px;

      @include u.mobile {
        flex-direction: column;
        row-gap: 15px;
      }
    }

    &-link {
      display: inline-flex;
      align-items: center;
      height: 30px;
      text-decoration: underline;

      @include u.hover {
        color: var(--common-accent);
      }
    }
  }

  &__social {
    @include u.mobile {
      order: 1;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;

    @include u.mobile-above {
      &:not(:last-child) {
        padding-bottom: 50px;
        margin-bottom: 50px;
        border-bottom: 1px solid currentColor;
      }
    }

    @include u.mobile {
      flex-direction: column;
      align-items: center;
      row-gap: 37px;
    }

   /*  @include u.mobile-s {
      width: 100%;
    } */
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 27px;

    @include u.mobile {
      align-items: center;
      text-align: center;
    }

    &-title {
      color: var(--common-dark);
    }

    &-body {
      font-style: normal;

      p {
        --paragraphMarginBottom: 20px;
      }

      a {
        @include u.hover {
          color: var(--common-accent);
        }
      }
    }
  }

  &__extra {
    display: flex;
    column-gap: 40px;

    @include u.mobile {
      width: 100%;
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
      order: 2;
      padding-top: 37px;
      border-top: 1px solid var(--common-light);
    }
  }

  &__privacy-policy-link {
    text-decoration: underline;

    @include u.hover {
      color: var(--common-accent);
    }
  }
}
