@use "../utils/" as u;

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 40px;

  @include u.mobile {
    gap: 30px;
  }

  @for $i from 2 through 12 {
    &--#{$i} {
      --gridColumns: #{$i};
    }
  }

  &--2 {
    @include u.tablet {
      --gridColumns: 1;
    }
  }

  &--3 {
    @include u.desktop {
      --gridColumns: 2;
    }

    @include u.mobile {
      --gridColumns: 1;
    }
  }
}
