.subscribe-form {
    width: 100%;
    max-width: 634px;
    padding: 58px 40px;
    background-color: var(--alt-dark);
    border-radius: var(--border-radius);
    display: flex;
    column-gap: 20px;
}