@use "colors" as clr;
@use "breakpoints" as bp;

$border-radius: 14px;
$border-radius-small: 7px;
$border-radius-large: 45px;

$font-family-base: "Space Grotesk", sans-serif;

$container-width: 1240px;
$container-padding-x: 20px;

$section-padding-y: 70px;

$input-height: 59px;
$button-height: 68px;

$transition-duration: 0.2s;

:root {
  @each $color, $shades in clr.$colors {
    @each $shade, $value in $shades {
      --#{$color}-#{$shade}: #{$value};
    }
  }
  --border: 1px solid var(--common-dark);
  --border-radius: #{$border-radius};
  --border-radius-small: #{$border-radius-small};
  --border-radius-large: #{$border-radius-large};
  --shadow: 0 5px 0 0 var(--common-dark);
  --font-family-base: #{$font-family-base};
  --container-width: #{$container-width};
  --container-padding-x: #{$container-padding-x};
  --section-padding-y: #{$section-padding-y};
  --input-height: #{$input-height};
  --button-height: #{$button-height};
  --transition-duration: #{$transition-duration};

  @include bp.desktop {
    --section-padding-y: 50px;
  }

  @include bp.mobile {
    --section-padding-y: 30px;
  }
}

