
//breakpoints

$desktop-above: 1281px;
$desktop: 1280px;

$tablet-above: 1024px;
$tablet: 1023px;

$mobile-above: 768px;
$mobile: 767px;

$mobile-s-above: 481px;
$mobile-s: 480px;

//COMMON
$border-radius: 14px;
$border-radius-small: 7px;
$border-radius-large: 45px;

$font-family-base: "Space Grotesk", sans-serif;

$container-width: 1240px;
$container-padding-x: 20px;

$section-padding-y: 70px;

$input-height: 59px;
$button-height: 68px;

$transition-duration: 0.2s;
